body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    color:black;
}

.section {
    padding: 20px;
}

.btn {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.btn:hover {
    background-color: #555;
}

/* Diet.css */
.table-container {
    overflow-x: auto;
}

.meal-plan-table {
    width: 100%;
    border-collapse: collapse;
}

.meal-plan-table th, .meal-plan-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.meal-plan-table th {
    background-color: #f2f2f2;
}




